#Title,
#About,
#Resume,
#Skill,
#Works,
#Contact {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

;

#Title {
  background-image: url(https://github.com/st86374/tomresume/blob/master/public/assets/img/bg-1.jpg?raw=true);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    z-index: 1;
  }

  .title {
    &_info {
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
      text-align: center;
      color: #fff;
      z-index: 2;

      &:before {
        content: " ";
        width: 300px;
        border: #fff 2px solid;
        border-top: none;
        background: transparent;
        height: 80px;
        position: absolute;
        right: 50%;
        bottom: 0%;
        transform: translateX(50%);
      }

      h2 {
        position: relative;
        width: 300px;

        &:before {
          content: ' ';
          background: #fff;
          position: absolute;
          width: 40px;
          height: 2px;
          left: 0px;
          bottom: 30px;
        }

        &:after {
          content: ' ';
          background: #fff;
          position: absolute;
          width: 40px;
          height: 2px;
          right: 0px;
          bottom: 30px;
        }
      }
    }
  }

  .mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    height: 40px;
    width: 24px;
    display: block;
    z-index: 2;
    opacity: 0.7;
    position: absolute;
    right: 50%;
    bottom: 10%;
    transform: translateX(50%);
    cursor: pointer;
    transition: .3s;

    &:hover {
      opacity: 1;
    }
  }

  .mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-name: drop;
    animation-name: drop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  .mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 2px;
    height: 6px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  @-webkit-keyframes drop {
    0% {
      top: 5px;
      opacity: 0;
    }

    30% {
      top: 10px;
      opacity: 1;
    }

    100% {
      top: 25px;
      opacity: 0;
    }
  }

  @keyframes drop {
    0% {
      top: 5px;
      opacity: 0;
    }

    30% {
      top: 10px;
      opacity: 1;
    }

    100% {
      top: 25px;
      opacity: 0;
    }
  }
}

.about {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  &_info {
    border: #a0a0a0 2px solid;
    background: #fff;
    padding: 15px;
  }
  &_text{
    p{
      font-size: 14px;
      text-indent : 28px;
      margin-bottom: 5px;
    }


  }
  canvas {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.resume {
  background: rgb(228, 228, 228);

  &_info {
    padding: 15px;
  }

  &_item {
    max-height: 100px;
    overflow: hidden;
    position: relative;

    &:hover {
      .web_info {
        height: 100%;
      }
    }
  }

  .card {
    border: #343a40 3px solid;
    border-radius: 5px;
    height: 100%;

    &-header {
      border-radius: 0;
    }

    &-body {
      ul {
        list-style: none;
        padding-left: 20px;

        li {
          position: relative;

          &:before {
            content: " ";
            width: 7px;
            height: 7px;
            background-color: orange;
            position: absolute;
            top: 7px;
            transform: rotate(45deg);
            left: -15px;
          }
        }
      }
    }
  }

  .nav-tabs {
    border-bottom: 0px solid transparent;

    .nav-link {
      border: 1px solid transparent;
      background-color: #343a40;
      color: #fff;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      width: 100px;
      text-align: center;
      padding: 8px 0px;
      margin: 0 10px;

      &.active {
        color: #fff;
        background-color: orange;
        border-color: transparent;
        border-bottom: 1px solid #343a40;
      }
    }
  }
}

.skill {
  background-image: url(https://github.com/st86374/tomresume/blob/master/public/assets/img/taipei.jpeg?raw=true);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  h4 {
    color: #fff;
  }

  &_info {
    padding: 15px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      // background: rgba($color: #000000, $alpha: 0);
      background-image: url(https://github.com/st86374/tomresume/blob/master/public/assets/img/taipei.jpeg?raw=true);
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      margin: -30px;
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -ms-filter: blur(20px);
      -o-filter: blur(20px);
      filter: blur(20px);
    }

    ;

    ul {
      list-style: none;

      li {
        color: #fff;
        font-size: 1.6rem;
        position: relative;
        margin: 20px 0px;

        &:before {
          content: " ";
          width: 7px;
          height: 7px;
          background-color: orange;
          position: absolute;
          bottom: 50%;
          transform: rotate(45deg) translateY(50%);
          left: -15px;
        }
      }
    }

  }

}

.works {
  background: #2980b9 url(https://github.com/st86374/tomresume/blob/master/public/assets/img/bg-w.jpg?raw=true) repeat 0 0;
  -webkit-animation: 50s linear 0s normal none infinite animate;
  -moz-animation: 50s linear 0s normal none infinite animate;
  -ms-animation: 50s linear 0s normal none infinite animate;
  -o-animation: 50s linear 0s normal none infinite animate;
  animation: 50s linear 0s normal none infinite animate;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &_title {
    position: relative;
    z-index: 2;
  }

  &_info {
    position: relative;
    z-index: 2;
  }

  ;

  &:after {
    content: '';
    background: rgba($color: #fff, $alpha: .9);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  .slick-track {
    // width: 100%!important;
  }

  .slick_item {
    // width: 100%!important;
    // padding: 15px;
    margin: 15px;
  }
  .slick-next:before, .slick-prev:before{
    color: #000;
    opacity: .5;
  }
  .slick-next {
    right: -10px;
}
.slick-prev {
  left: -10px;
}
a{
  .card-title{
    color: orange;
    font-size: 1.5rem;
  }
  .card-text{
    color: #000;
    font-size: 1rem;
  }
  .card-body{
    min-height: 160px;
  }
  &:hover{
    text-decoration: none;
  }
}
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 600px 0;
  }
}

@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 600px 0;
  }
}

@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 600px 0;
  }
}

@-o-keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 600px 0;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 600px 0;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  &_img{
    background-color: #fff;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    &:after{
      position: absolute;
      width: 290px;
      height: 290px;
      background-color: transparent;
      border: 7px solid orange;
      content:" ";
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
      z-index: 2;
      border-radius: 50%;
    }
    img{
      width: 265px;
      height: 265px;
      border-radius: 50%;
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
    }
  }
  &_text{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 90px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 30px auto;
    i{
      color: #fff;
      background: orange;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      margin-bottom: 0;
    }
    a{
      margin-left: 5px;
      margin-bottom: 0;
      color: gray;
    }
  }
  &_phone{
    background-color: #fff;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    &:before{
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      content: "\f879";
      font-size: 2rem;
      color: #fff;
      background: orange;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      position: absolute;
      z-index: 3;
      top:20px
  }
    &:after{
      position: absolute;
      width: 290px;
      height: 290px;
      background-color: transparent;
      border: 7px solid gray;
      content:" ";
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
      z-index: 2;
      border-radius: 50%;
    }
    a{
      color: orange;
      margin-bottom: 0;
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
      font-size: 1.5rem;
      z-index: 3;
    }

  }
  &_mail{
    background-color: #fff;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    &:before{
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f0e0";
        font-size: 2rem;
        color: #fff;
        background: orange;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        position: absolute;
        z-index: 3;
        top:20px
    }
    &:after{
      position: absolute;
      width: 290px;
      height: 290px;
      background-color: transparent;
      border: 7px solid gray;
      content:" ";
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
      z-index: 2;
      border-radius: 50%;
    }
    a{
      color: orange;
      margin-bottom: 0;
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
      font-size: 1.5rem;
      z-index: 3;
    }

  }


  }

.web_info {
  background: rgba($color: #000000, $alpha: .8);
  position: absolute;
  overflow: hidden;
  width: calc(100% - .5rem);
  margin: 0 auto;
  height: 0%;
  top: 0;
  left: 0px;
  right: 0px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
  color: #fff;
}

.progress {
  height: 25px;
}

.progress-bar {
  height: 25px;
  width: 0%;
  background-color: orange;
  transition: width 2s ease;
}